{{- /*gotype: github.com/mikeschinkel/go-cliutil.Usage */ -}}

{{.AppName}} - {{.AppDescr}}

USAGE:
    {{.ExeName}} <command> [subcommand] [options]

COMMANDS:
{{- range .TopCmdRows }}
    {{printf "%-20s" .Display}}{{.Desc}}
{{- end }}

{{- if false }}
EXAMPLES:
{{- range .Examples }}
    # {{.Descr}}
    {{.Cmd}}
{{- end }}
{{- end }}

For more information, visit: {{.InfoURL}}
